/* .home_page_main_div{
        margin: auto;
        max-width: 250px;
        padding: 1rem;
        position: relative;
        background: linear-gradient(to right, red, purple);
        padding: 3px;
        width: 100%;
} */
.module {
  
    /* color: white; */
    padding: 2rem;
    color: aliceblue;
    background-color: #2f2f32;
  }

.home_page_main_div{
  background-color: #2f2f32;
  height: 100%;
  width: 100%;
  position: absolute;

}
  .image{
    width: 27rem;
  height: 27rem;
  border-radius: 40%;
  margin-bottom: 2rem;
  background-size: cover; 
  }
.image:hover{
  width: 30rem;
  height: 30rem;
  border-radius: 40%;
  margin-bottom: 2rem;
  border: solid rgb(255, 255, 255);
}


#card_border:hover{
  
  box-shadow: 5px 5px 10px 2px rgba(233, 237, 237, 0.996);
}
/* @media screen and (max-width:1000px) {
  
  #mobile_button{
      margin-bottom: 5rem;
  }
} */

#meta_icon{
  width: 6rem;
  /* padding-bottom: 2rem; */
}
.employment{
  width: 55rem;
}
.job_and_title{
  font-weight: bold;
}
#tab2-tab{
  margin-left: 5rem;
}
#tab1-ta{
  margin-right: 5rem;
}
@media  screen{
  .image{
    width: 200px;
    height: 200px;
  }
  .image:hover{
    width: 200px;
    height: 200px;
    border-radius: 40%;
  margin-bottom: 2rem;
  border: solid rgb(255, 255, 255);
  }
  #myTabContent{
    text-align: center;
  }
  #tab1-tab{
    margin-right: 0%;
  }
  #tab2-tab{
    margin-left: 0px;
  }
  .employment{
    width: 100%;
  }
  .education{
    text-align: center;
  }
}