<!DOCTYPE html>
<html lang="en">
    <head>
        {%block head%}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}Sam Skurikhin Portfolio</title>
        <link href="{{url_for('static',filename='style.css')}}" rel="stylesheet"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome/css/all.min.css') }}">
        {% endblock %}
    </head>
    
<body>
    {%block nav %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="font-size: 1.5rem; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
        <a class="navbar-brand" href="/contact_info" style="margin-right: 5rem;">Sam Skurikhin</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item ">
              <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/projects">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact_info">Contact</a>
            </li>
            
          </ul>
          

        </div>
        <span style="font-size: 3rem; color: aliceblue;">Portfolio</span>
      </nav>
    {% endblock %}

    {%block content%}
    {%endblock%}
</body>
</html>