{%extends 'base.html'%}
    {%block content%}
    <h1 style="text-align: center; margin-top:1rem ;">Contact info</h1>
    
    
            
            <a
            data-mdb-ripple-init
            class="btn text-white btn-floating m-1"
            style="background-color: #dd4b39;"
            href="mailto:sskurikhin3@gmail.com"
            role="button"
            ><i class="fab fa-google"></i
          ></a>

          <a
            
            class="btn text-white btn-floating m-1"
            style="background-color: #0082ca;"
            href="https://www.linkedin.com/in/sam-s-465558211/"
            role="button"
            ><i class="fab fa-linkedin-in"></i
          ></a>

          <a
            class="btn text-white btn-floating m-1"
            style="background-color: #333333;"
            href="https://github.com/SamSK1"
            role="button"
            ><i class="fab fa-github"></i
          ></a>
        

      </div>

    {%endblock%}