{%extends 'base.html'%}
    {%block content%}
    <div class="container mt-5">
        <h2 style="font-family: monospace;">CVs</h2>
        
        <!-- Tabs navigation -->
        <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist" style="font-family: monospace;" >
            <li class="nav-item" role="presentation" style="font-size: 2rem;">
                <a class="nav-link active" id="tab1-tab" data-bs-toggle="tab" href="#tab1-content" role="tab" aria-controls="tab1-content" aria-selected="true" style="margin-right: 5rem;">Testing</a>

            </li>
            <li class="nav-item" role="presentation" style="font-size: 2rem;">
                <a class="nav-link" id="tab2-tab" data-bs-toggle="tab" href="#tab2-content" role="tab" aria-controls="tab2-content" aria-selected="false" style="margin-left: 5rem;">Developing</a>
                
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="tab1-content" role="tabpanel" aria-labelledby="tab1-tab" style="font-family: monospace;">
                <h3>Test Engineer</h3>
                <p style="margin-top: 2rem; font-size: 2rem;"><b>Career: </b></p>


                <p style="font-size: 1.5rem; margin-bottom: 0;">Meta - QA Test Analyst</p>
                
            <div class="row">
                <div class="col-sm" style="padding-top: 1.5rem; font-size: 1.4rem;">
                    <b>Zurich, Switzerland</b>
                </div>
                <div class="col-sm" style="padding-top: 1.5rem; font-size: 1.4rem;">
                    <b>08/2023 - 01/2024</b>
                </div>
                <div class="col-sm" style="padding-bottom: 1.2rem;">
                    <img src="{{ url_for('static', filename='assets/meta_icon.png') }}"  id="meta_icon">
                </div>
              </div>

                <div>
                <p style="font-size: 1.4rem; width: 55rem;">Employed at META to work on cutting-edge VR technologies, specifically 
                    performing embedded testing for the META Quest product line, ensuring 
                    product quality and innovation.</p>
                    <ul style="font-size: 1.4rem; font-family: monospace;">
                    <li>Completed the execution of regression test cases, validating system 
                        stability and functionality. </li>
                        <li>Executed a series of test cases to confirm system performance and 
                            reliability. </li>
                        <li>Investigated and reported software and hardware bugs, contributing to 
                            overall system quality. </li>
                        
                    </ul>

                    </div>
                    
                    <hr width="100%" size="4">

                    <p style="font-size: 1.5rem; margin-bottom: 0;">Huawei Technologies Switzerland - Backend Test Engineer</p>
                
            <div class="row">
                <div class="col-sm" style="padding-top: 1.5rem; font-size: 1.4rem;">
                    <b>Zurich, Switzerland</b>
                </div>
                <div class="col-sm" style="padding-top: 1.5rem; font-size: 1.4rem;">
                    <b>09/2022 - 02/2023 </b>
                </div>
                <div class="col-sm" style="padding-bottom: 1.2rem;">
                    <img src="{{ url_for('static', filename='assets/huawei_icon.png') }}"  id="meta_icon">
                </div>
              </div>

                <div>
                <p style="font-size: 1.4rem; width: 55rem;">Worked on a high-profile project for Huawei in collaboration with Sunrise, 
                    Microsoft, and Nokia. </p>
                    <ul style="font-size: 1.4rem; font-family: monospace;">
                    <li>Conducted comprehensive end-to-end testing and ETL testing, ensuring 
                        the accuracy of transmitted data. </li>
                        <li>Maintained and managed testing environments to support seamless 
                            operations. </li>
                        <li>Provided customer support for end-to-end test cases, enhancing client 
                            satisfaction. </li>
                        <li>Going through the logs ensuring the correctness of Data uploaded to the 
                            SQL Database. </li>
                    </ul>
                    <hr width="100%" size="4">
                    </div>


                    <p style="font-size: 1.5rem; margin-bottom: 0;">Tillo.App - Test Automation Engineer</p>
                
            <div class="row">
                <div class="col-sm" style="padding-top: 1.5rem; font-size: 1.4rem;">
                    <b>Johannesburg,South Africa</b>
                </div>
                <div class="col-sm" style="padding-top: 1.5rem; font-size: 1.4rem;">
                    <b>02/2020 - 11/2021</b>
                </div>
                <div class="col-sm" style="padding-bottom: 1.2rem;">
                    <img src="{{ url_for('static', filename='assets/Screenshot_4.png') }}"  id="meta_icon">
                </div>
              </div>

                <div>
                <p style="font-size: 1.4rem; width: 55rem;">Contributed to an innovative agricultural start-up developing a cross
                    platform application for data harvesting and visualization. </p>
                    <ul style="font-size: 1.4rem; font-family: monospace;">
                    <li>Developed and prepared testing scripts using the Selenium framework 
                        with Python. </li>
                        <li>Executed automated test scenarios to ensure the functionality.</li>
                       
                    </ul>
                    <hr width="100%" size="4">
                    </div>
                
                    <div style="margin-bottom: 2rem;">
                        <p style="margin-top: 2rem; font-size: 2rem; font-family: monospace; "><b>Skills:</b> </p>
                        Testing(manual)
                        <div class="progress">
                            
                            <div class="progress-bar  bg-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 90%"></div>
                          </div>
                    </div>


                    <div style="margin-bottom: 2rem;">
                        
                        Test Automation 
                        <div class="progress">
                            
                            <div class="progress-bar   bg-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 78%"></div>
                          </div>
                    </div>

                    <div style="margin-bottom: 2rem;">
                        
                        QA 
                        <div class="progress">
                            
                            <div class="progress-bar   bg-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 85%"></div>
                          </div>
                    </div>

                    <div style="margin-bottom: 2rem;">
                        
                        E2E
                        <div class="progress">
                            
                            <div class="progress-bar   bg-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 90%"></div>
                          </div>
                    </div>

                    <div style="margin-bottom: 2rem;">
                        
                        Selenium(Python)
                        <div class="progress">
                            
                            <div class="progress-bar   bg-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 83%"></div>
                          </div>
                    </div>


                    <div style="margin-bottom: 2rem;">
                        
                        API Testing 
                        <div class="progress">
                            
                            <div class="progress-bar   bg-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 88%"></div>
                          </div>
                    </div>

                    
                    <div style="margin-bottom: 2rem;">
                        
                        Database Testing
                        <div class="progress">
                            
                            <div class="progress-bar   bg-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 82%"></div>
                          </div>

                          </div>

            </div>
            <div class="tab-pane fade" id="tab2-content" role="tabpanel" aria-labelledby="tab2-tab" style="font-family: monospace;">
                <h3>Python Engineer</h3>
                <p style="margin-top: 2rem; font-size: 2rem; "><b>Skills: </b></p>
                
                <div style="margin-bottom: 2rem;">
                        
                    Python
                    <div class="progress">
                        
                        <div class="progress-bar   bg-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 90%"></div>
                      </div>
                </div>
                    
                <div style="margin-bottom: 2rem;">
                        
                    Flask
                    <div class="progress">
                        
                        <div class="progress-bar   bg-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 88%"></div>
                      </div>
                </div>
                

                <div style="margin-bottom: 2rem;">
                        
                    Django
                    <div class="progress">
                        
                        <div class="progress-bar   bg-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 80%"></div>
                      </div>
                </div>

                <div style="margin-bottom: 2rem;">
                        
                    SQLite
                    <div class="progress">
                        
                        <div class="progress-bar   bg-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:85%"></div>
                      </div>
                </div>

                <div style="margin-bottom: 2rem;">
                        
                    MongoDB
                    <div class="progress">
                        
                        <div class="progress-bar   bg-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 80%"></div>
                      </div>
                </div>
                <div style="margin-bottom: 2rem;">
                        
                    Git
                    <div class="progress">
                        
                        <div class="progress-bar   bg-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 82%"></div>
                      </div>
                </div> 
                <div style="margin-bottom: 2rem;">
                        
                    Bash
                    <div class="progress">
                        
                        <div class="progress-bar   bg-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 70%"></div>
                      </div>
                </div>

                <div style="margin-bottom: 2rem;">
                        
                    Docker
                    <div class="progress">
                        
                        <div class="progress-bar   bg-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 70%"></div>
                      </div>
                </div>
                <div style="margin-bottom: 2rem;">
                        
                    HTML
                    <div class="progress">
                        
                        <div class="progress-bar   bg-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 69%"></div>
                      </div>
                </div>
                <div style="margin-bottom: 2rem;">
                        
                    CSS
                    <div class="progress">
                        
                        <div class="progress-bar   bg-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 69%"></div>
                      </div>
                </div>

                <div style="margin-bottom: 2rem;">
                        
                    Bootstrap
                    <div class="progress">
                        
                        <div class="progress-bar   bg-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 78%"></div>
                      </div>
                </div>

                

                <div style="margin-bottom: 2rem;">
                        
                    Fontawesome
                    <div class="progress">
                        
                        <div class="progress-bar   bg-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                      </div>
                </div>

                <div style="margin-bottom: 2rem;">
                        
                    React
                    <div class="progress">
                        
                        <div class="progress-bar   bg-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 69%"></div>
                      </div>
                </div>

                <div style="margin-bottom: 2rem;">
                        
                    JavaScript
                    <div class="progress">
                        
                        <div class="progress-bar   bg-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 62%"></div>
                      </div>
                </div>




            </div>
        </div>
        <div style="font-family: monospace;">
        <p style="margin-top: 2rem; font-size: 2rem; "><b>Education: </b></p>
        <p style="font-size: 1.5rem; margin-bottom: 0;">University of Plymouth</p>
                
            <div class="row">
                <div class="col-sm" style="padding-top: 1.5rem; font-size: 1.4rem;">
                    <b>Plymouth, England   </b>
                </div>
                <div class="col-sm" style="padding-top: 1.5rem; font-size: 1.4rem;">
                    <b>09/2018 - 02/2020 </b>
                </div>
                <div class="col-sm" style="padding-bottom: 1.2rem;">
                    <img src="{{ url_for('static', filename='assets/plymouth.png') }}"  id="meta_icon">
                </div>
              </div>
              <p style="font-size: 1.4rem; width: 55rem;"><b>Bachelor of Science</b> in Business 
                Management</p>
              <hr width="100%" size="4">

              <p style="font-size: 1.5rem; margin-bottom: 0;">International University in Geneva</p>
                
            <div class="row">
                <div class="col-sm" style="padding-top: 1.5rem; font-size: 1.4rem;">
                    <b>Geneva, Switzerland</b>
                </div>
                <div class="col-sm" style="padding-top: 1.5rem; font-size: 1.4rem;">
                    <b>09/2015 - 07/2018 </b>
                </div>
                <div class="col-sm" style="padding-bottom: 1.2rem;">
                    <img src="{{ url_for('static', filename='assets/IUG.webp') }}"  id="meta_icon">
                </div>
              </div>
              <p style="font-size: 1.4rem; width: 55rem;"><b>Bachelor of Science</b> in Computer Science</p>
              
            </div>
            <div style="font-family: monospace; margin-bottom: 1rem;">
                <p style="margin-top: 2rem; font-size: 2rem; "><b>Languages: </b></p>
                <div style="margin-bottom: 2rem;">
                        
                    English
                    <div class="progress">
                        
                        <div class="progress-bar   bg-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 95%"></div>
                      </div>
                </div>

                <div style="margin-bottom: 2rem;">
                        
                    French
                    <div class="progress">
                        
                        <div class="progress-bar   bg-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                      </div>
                </div>

                <div style="margin-bottom: 2rem;"></div>
                        
                    German
                    <div class="progress">
                        
                        <div class="progress-bar   bg-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:65%"></div>
                      </div>
                </div>

                

                <div class="row" style="text-align: center; margin-bottom: 2rem;">
                    <div class="col-sm" style="padding-top: 1.5rem; font-size: 1.4rem;">
                        <form action="/download_pdf" method="GET">
                        <button type="submit" class="btn btn-danger" style="font-size:1.7rem ; " >PDF <i class="fa-solid fa-file-pdf"></i></button>
                    </form>
                    </div>
                    <div class="col-sm" style="padding-top: 1.5rem; font-size: 1.4rem;">
                        <form action="/download_word" method="GET">
                        <button type="submit" class="btn btn-primary" style="font-size:1.7rem ;">Word <i class="fa-solid fa-file-word"></i></button>
                    </form>
                    </div>
                    
                  </div>
                

            </div>
    </div>
    

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    {%endblock%}