{%extends 'base.html'%}
 {%block content%}
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
 <body style="background-color: #0f0f0f;">
 <h1 style="font-family: monospace; text-align: center; margin-top: 3rem; font-size: 4rem; color: aliceblue;">Projects List</h1>
 <div class="row" style="margin: 0px;">
    {% for project in projects_arr  %}
    <div class="col-sm-3" style="margin-bottom: 2rem; margin-top: 1rem; margin-right: 1rem;">
      <div class="card" style="text-align: center;">
        <img src="{{ url_for('static', filename=project['site_image']) }}" alt="Site Image" style="width: 15rem; height: 10rem; margin: auto;">
        <div class="card-body">
          <h5 class="card-title" >{{project.site_name}}</h5>
          
            <p class="card-text">{{project.site_description}}</p>
            
          
        </div>
      </div>
    </div>
    {%endfor%}
    
</div>
</body>
 {%endblock%}